{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- 更新文章 -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                <!-- 文章标题图 -->
                <div class="form-group">
                    <label for="avatar">标题图</label>
                    <input type="file" class="form-control-file" name="avatar" id="avatar">
                </div>
                <!-- 文章题目 -->
                <div class="form-group">
                    <label for="title">文章标题</label>
                    <!-- 在 value 属性中指定文本框的初始值为旧的内容，即 article 对象中的 title 字段 -->
                    <input type="text" class="form-control" id="title" name="title" value="{{ article.title }}">
                </div>
                <!-- 文章栏目 -->
                <div class="form-group">
                    <label for="column">栏目</label>
                    <select class="form-select"
                            name="column" 
                            aria-label="Default select example">
                        <option selected value="none">选择栏目...</option>
                        {% for column in columns %}
                        <!-- 复选框提交的是value的内容 -->
                        <option value="{{ column.id }}"
                                {% if column.id == article.column.id %}
                                    selected
                                {% endif %}
                        >
                            {{ column.title }}
                        </option>
                        {% endfor %}
                      </select>
                </div>
                <!-- 文章标签 -->
                <div class="form-group">
                    <label for="tags">标签</label>
                    <input type="text" class="form-control" id="tags" name="tags" value="{{ article.tags.all|join:', ' }}">
                </div>
                <br>
                <div class="form-group">
                    <!-- <label for="body">文章正文</label> -->
                    <!-- 文本域不需要 value 属性，直接在标签体中嵌入数据即可 -->
                    <!-- <textarea type="text" class="form-control" id="text" name="text" rows="12">{{ article.text }}</textarea> -->
                    {{ article_post_form.media }}
                    {{ article_post_form.text }}
                    <!-- <textarea cols="80" id="editor1" name="text" rows="10" data-sample-short>{{ article.text }}</textarea> -->

                    <!-- <script> -->
                        <!-- CKEDITOR.replace( 'editor1' ); -->
                    <!-- </script>    -->
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

